*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.carousel{
    margin-top: 50px;
}
header{
    background-color: #97dade;
    height: 80px;
    display: flex;
    justify-content: flex-end; 
    gap:400px;
}

.div-principal{
    height: 100%;
}

header nav a {
    color:#000;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all ease 0.3s;
}

header nav a:hover{
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

@media(max-width:910px ){
    header{
        height: 120px;
        display: flex;
        justify-content: center;
        gap:100px;
    }


    
}


@media(max-width:512px ){
    header{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
    }

    header nav {
        margin-top:0; 
    }
    
}

footer{
    background-color:#dadada;
    text-align: center;
}
footer p{
    padding-top: 15px;
}

#whatsapp img{
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 70px;
    transition: all ease-in-out 0.3s;
}

#whatsapp img:hover{
    transform:translateX(10px);
}

.div-redes-link{
    text-decoration: none;
}

.div-redes{
    margin-top: 10px;
}

.img-redes{
    width: 40px;
    transition: all ease 0.5s;
    border-radius: 10px;
}

.img-redes:hover{
    background-color: #86d5da;
    transform: scale(1.1);
}
